.wrapper {
  display: flex; /* Используем Flexbox */
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  border: 3px solid #8b4513; /* Коричневая рамка */
  background-color: #f5f5dc; /* Бежевый фон */
}

.product-img {
  width: 327px;
  background: url("pictures/img_1.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-right: 3px solid #8b4513; /* Коричневая рамка */
}

.product-info {
  width: 327px;
  background-color: #fffff0; /* Светло-бежевый фон */
  border-left: 3px solid #8b4513; /* Коричневая рамка */
  padding: 20px; /* Внутренние отступы */
  box-sizing: border-box; /* Включаем padding в общую ширину */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-text {
  height: auto;
}

.product-text h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  color: #4b3d22; /* Темно-коричневый текст */
  font-family: 'Times New Roman', serif; /* Шрифт, похожий на газетный */
  text-align: center; /* Центрирование заголовка */
}

.product-text p {
  margin: 0;
  font-family: 'Times New Roman', serif; /* Шрифт, похожий на газетный */
  color: #4b3d22; /* Темно-коричневый текст */
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  text-align: justify; /* Выравнивание текста по ширине */
}

.product-price-btn {
  height: auto;
  margin-top: 20px;
  text-align: center; /* Центрирование содержимого */
}

.product-price-btn p {
  margin: 0;
  font-family: 'Times New Roman', serif; /* Шрифт, похожий на газетный */
  font-size: 24px;
  font-weight: lighter;
  color: #4b3d22; /* Темно-коричневый текст */
}

.card_span {
  font-size: 30px;
  font-family: 'Times New Roman', serif; /* Шрифт, похожий на газетный */
}

.product-price-btn button {
  display: inline-block;
  height: 40px;
  width: 176px;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
  border: 2px solid #8b4513; /* Коричневая рамка */
  border-radius: 30px;
  font-family: 'Times New Roman', serif; /* Шрифт, похожий на газетный */
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #8b4513; /* Коричневый фон */
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #654321; /* Темно-коричневый фон при наведении */
}

.order_bar {
  display: none;
}
