* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif; /* Шрифт, похожий на газетный */
}

body {
    background-color: #f5f5dc; /* Бежевый фон */
}

.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #f5f5dc; /* Бежевый фон */
    color: #4b3d22; /* Темно-коричневый текст */
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    min-height: 77vh;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #4b3d22; /* Темно-коричневый текст */
    text-align: center;
}

.shopping-cart {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.product {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 2px solid #8b4513; /* Коричневая рамка */
    background-color: #fffff0; /* Светло-бежевый фон */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Тень для объема */
    justify-content: space-between;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title {
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #4b3d22; /* Темно-коричневый текст */
}

.product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
    font-size: 18px;
    color: #4b3d22; /* Темно-коричневый текст */
}

.remove-product {
    border: 0;
    padding: 10px 20px;
    background-color: #c66;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-product:hover {
    background-color: #a44;
}

.checkout {
    background: #8b4513; /* Коричневый фон */
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px 50px;
    margin: 20px 0;
    text-decoration: none;
    font-size: 16px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.checkout:hover {
    background: #654321; /* Темно-коричневый фон при наведении */
}

.del_bar {
    display: none;
}
