<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подписки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<header th:insert="~{parts/header :: header}"></header>

<div class="banner">
    <h2>Ваши газеты</h2>
    <div th:each="el : ${orders}" class="shopping-cart">
        <div class="product">
            <div class="product-details">
                <span th:text="${el.name}" class="product-title"></span>
                <span th:text="${el.text}" class="product-description"></span>
            </div>
            <form action="/cart" method="get">
                <input type="hidden" name="del_name" th:value="${el.name}">
                <button type="submit" class="remove-product">Отписаться</button>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{parts/footer :: footer}"></div>
</body>
</html>

