<div th:fragment="card" class="wrapper">
    <div class="product-img"></div>
    <div class="product-info">
        <div class="product-text">
            <h1 th:text="${el.name}"></h1>
            <p th:text="${el.text}"></p>
        </div>
        <div class="product-price-btn">
            <p><span class="card_span" th:text="${el.price}"></span> Руб/мес</p>
            <form id="order_form" class="order_form" action="menu" method="get">
                <input id="data_9" type="text" name="card_name" class="order_bar" th:value="${el.name}" title="Order">
                <button id="order_button" type="submit" class="btn-1">Подписаться</button>
            </form>
        </div>
    </div>
</div>